	*{
		margin: 0;
		padding: 0;
	}
	.calendar-container {
		width: 280px;
		margin: 0 auto;
		margin-top: 30px
	}
	.calendar-container #datecha {
		display: flex;
		margin-bottom: 5px;
	}
	.calendar-container #datecha input {
		width: 110px;
		text-align: center;
		margin-right: 5px;
		height: 20px;
		border: 1px solid #ccc
	}
	.calendar-container #datecha button {
		flex: 1;
		border: 1px solid #ccc
	}
	.calendar-container li {
		list-style: none;
		font-size: 20px
	}
	.calendar-container .titledate span {
		background-color: green;
		color: #fff
	}
	.calendar-container ul span {
		background-color: #efefef
	}
	.calendar-container .calendar-container-show span {
		display: inline-block;
		width: 20px;
		text-align: center;
		padding: 0 10px;
	}
	.calendar-container #content {
		color: #ccc
	}
	.calendar-container ul .nt {
		color: red;
	}
	.calendar-container ul .dangtian {
		background-color: yellow;
		color: green
	}